<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
  <add name="OuKonMange3" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OuKonMange3.Models.BddContext;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFrameworkMUE" />
</connectionStrings>
</configuration>
